@import url('https://fonts.googleapis.com/css?family=Lato');

#app {
  font-family: 'Lato', sans-serif;
}

.background {
  padding-top: 15px;
  height:100vh;
  margin: -2% -1% -1% -1%;
  background-color: #4EE2EC;
}

.input-container {
  height: 20vh;
  background-color: yellow;
}

.radio-button-container {
  height: 10vh;
  background-color: pink;
}

.result-container {
  background-color: grey;
}

.search-button {
  background-color: #7BCCB5 !important;
  border-radius: 8px !important;
  color: white !important;
  text-align: center;
  border-color: black;

}

.input-field {
  width: 75%;
  height: 5vh;
  margin: 3%;
  font-size: 16px;
  color: black;
}
